<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.ory" >
<head>
    <meta charset="UTF-8">
    <title>update your story</title>
</head>
<body>
<h1>Update your story </h1>

<form action="#" th:action="@{/updateStory}" method="post" th:object="${newWrite}">
    <input type="hidden" th:field="*{storyID}">
    <input type="hidden" th:field="*{uploadDate}">
    <label>Update name</label>
    <input type="text" th:field="*{StoryTitle}" placeholder="story Title" >
    <br>
    <br>
    <p>Update your story here</p>
    <textarea th:field="*{Story}"> </textarea>
    <br>
    <br>
    <input type="submit"  value="Update">
    &nbsp;&nbsp;&nbsp; &nbsp;
    <input type="reset" value="Reset" />

</form>

<br>
<br>

<a href="/"> back home </a>
<br>
<br>
<a href="/allStories"> Cancel </a>



</body>
</html>